SERVER_PORT=9090
DB_DRIVER=com.mysql.cj.jdbc.Driver
DB_URL=jdbc:mysql://127.0.0.1:3306/wms?serverTimezone=UTC&useUnicode=true&characterEncoding=utf-8
DB_USERNAME=root
DB_PASSWORD=change_me_db_password
DB_ROOT_PASSWORD=change_me_root_password
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
JWT_SECRET=ReplaceWithAtLeast32CharsSecretKeyForDormLink
JWT_EXPIRATION_SECONDS=86400
