DB_DRIVER=com.mysql.cj.jdbc.Driver
DB_URL=jdbc:mysql://127.0.0.1:3307/teaching_manager?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
DB_USERNAME=root
DB_PASSWORD=change_me_db_password
DB_ROOT_PASSWORD=change_me_root_password
SERVER_PORT=8081
TM_JWT_SECRET=change_me_jwt_secret_at_least_32_chars
TM_JWT_PREVIOUS_SECRET=
